body, html {
    background-color: #FFFFFF;
    margin: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

main {
    height: 100%;
}

/* Voor de video  */
#video {
    display: block;
    margin: 0;
    animation: video-animatie 1.2s 1;
    width: 100vw;
    height: 100vh; 
    object-fit: cover; 
    position: left bottom;
    left: 0;
    bottom: 0;
}

@keyframes video-animatie {
  0%   { opacity: 0%; }
  100% { opacity: 100%; }
}

/* Voor de GIF buttons  */
div {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 5em;
    left: 3em;
}

div img {
    width: 8em;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin: .6em 0 .6em 0;
    animation: knop-animatie 1.2s 1;
    border-radius: 30em;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

@keyframes knop-animatie {
  0% {
    opacity:0;
    transform:  translate(0px,200px)  ;
}
100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
}
}

/* Voor de button states  */
div img:hover{
    transform: scale(1.1);    
}

div img:active,
div img:focus
{
    transform: scale(1.1); 
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.4)); 
}


/* Responsive*/
@media (max-width: 34em) {
    div {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: row;
        left: 0;
    }
    
    div img {
        width: 6em;
        cursor: pointer;
        transition: all .2s ease-in-out;
        margin: 0 .5em 0 .5em;
        animation: knop-animatie 1.2s 1;
        border-radius: 30em;
        filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    }

    #video {
        display: block;
        margin: 0 auto;
        animation: video-animatie 1.2s 1;
        width: 100vw;
    }
  }